/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
 
.spotylogo1{
  float: left;
  size: 20px;  
}

.clearfix{clear:both;}
body {
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #fff;
}

.spotylogo1 {
width: 250px;
float: left;
}

.listnav { 
float: right;
}


.image1{
  background: url('../images/landing.jpg') no-repeat center center;
   height: 500px;
   background-size: cover;
  color: white;
  text-align: center;
}
#header {
 font-size: 60px;
 font-style: lighter;
 padding-top: 170px;
 
}
#explanation {
  font-size: 25px;
  padding: 0 200PX;
}

.container {
  

}
#header2 {
  font-size: 10px;
  font-style: lighter;
  text-align: center;
  text-decoration: underline #00B172;

}

.box1 {
  float: left;
  text-align: center;
  width: 300px;
}

#logo {
  height: 120px;
}

#text1 {
padding:0 100px 0 50px;
}

.box2 {
  float: left;
  text-align: center;
  width: 300px;
}

#text2 {
  padding: 0 50px 0 50px;
  }

#text3 {
  padding: 0 50px 0 100px;
  }

.box3 {
  float: right;
  text-align: center;
  width: 300px;
}

.footer{
  background-color: #00B172;
  color: white;
}

#kanyewest{
  height: 400px;
  float: right;
  margin: 80px 60px 40px 80px;
}

#whitelogo{
  height: 100px;
  margin: 0 auto;
}

#header3 {
  font-size: 10px;
  font-style: lighter;
  text-align: left;
  text-decoration: underline white;
}


